@import './element-plus.scss';
@import './admin.scss';
@import './error-page.css';

html,
body,
#app {
	/*font-family: "Helvetica Neue", "Segoe UI", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;*/
	font-family: inherit;
	font-size: 16px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--el-text-color-primary);
	overflow: hidden;
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;
}

.prose {
	scroll-behavior: smooth;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	@apply bg-blue-500 bg-opacity-75;

	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;

	width: 100%;
	height: 2px;
}

/*
* 全局滚动条
*/
::-webkit-scrollbar {
	width: 11px;
	height: 11px;
	background-color: rgb(246, 247, 248);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(233, 236, 239);
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: rgb(246, 247, 248);
	border-radius: 10px;
}


/*.icon {*/
/*	width: 1em;*/
/*	height: 1em;*/
/*	vertical-align: -0.15em;*/
/*	fill: currentColor;*/
/*	overflow: hidden;*/
/*}*/

.dragging-over *{
	pointer-events: none;
}

#v3-img-preview-container-id .v-images-wrap .arrow .icon {
	display: initial;
}


#v3-img-preview-container-id .img-container .img-content {
	max-width: 95%;
}

@media screen and (max-width: 500px) {
	#v3-img-preview-container-id .v3-img-preview-toolbar {
		bottom: 20%;
	}
}

@media screen and (max-width: 500px) {
	.el-message {
		min-width: calc(100% - 30px) !important;
	}
}

@media screen and (max-width: 500px) {
	.el-message-box{
		width: calc(100% - 30px) !important;
	}
}


/* 所有 dialog 不显示本身的滚动条，需内部容器自实现滚动 */
.el-overlay-dialog {
	overflow: hidden !important;
}

@media screen and (max-width: 500px) {
	/* 移动端 所有 dialog 最小宽度 90%（默认为 50%，不适合移动端） */
	.el-dialog {
		min-width: 90%;
	}
}

/* 黑暗模式适配 */
/*html.dark {*/
/*	height: 100%;*/
/*	width: 100%;*/
/*	margin: unset;*/
/*	overflow: hidden;*/
/*	color: #e5e7eb;*/
/*	!*background: #121212;*!*/
/*}*/

/*html.dark ::-webkit-scrollbar,*/
/*html.dark ::-webkit-scrollbar-track {*/
/*	background-color: #212529;*/
/*}*/

/*html.dark ::-webkit-scrollbar-thumb {*/
/*	background-color: #343a40;*/
/*}*/
/*@import 'element-plus/theme-chalk/dark/css-vars.css';*/


.zfile-logo-css {
	visibility: hidden;
}

.zfile-code {
	@apply bg-gray-100 text-gray-800 px-2 py-1 rounded-lg select-all;
}