@import '~element-ui/lib/theme-chalk/index.css';

@media screen and (max-device-width: 769px) {
    .el-message-box {
        width: 90% !important;
    }
}

.zfile-word-aux {
    margin-left: 20px;
    color: #aaaaaa;
    font-size: 14px;
}

.zfile-info-tooltip {
    margin-left: 10px;
    font-size: 17px;
    cursor: pointer;
}


.zfile-margin-left-unset {
    margin-left: unset;
}

.zfile-text-align-center {
    text-align: center;
}


.zfile-text-align-center {
    text-align: center;
}

.zfile-float-right {
    float: right !important;
}

.zfile-margin-left-5 {
    margin-left: 5px;
}

.zfile-margin-left-10 {
    margin-left: 10px;
}

.zfile-margin-left-20 {
    margin-left: 20px;
}
